/* ----------------------------------------------------------------

	Contact.scss

-----------------------------------------------------------------*/
#contact {
	button {
		background-image: linear-gradient(360deg, #730213, transparent);
	}
}

.contact-decoration {
	position: absolute;
	right: 0;
	top: 4rem;
	z-index: 1;

	img {
		width: 24rem;
	}

	@include media-breakpoint-down(sm) {
		top: 18rem;

		img {
			width: 16rem;
		}
	}

	@include media-breakpoint-down(lg) {
		top: 30rem;

		img {
			width: 21rem;
		}
	}
}

.contact-light {
	position: absolute;
	left: 0;
	top: -26rem;

	@include media-breakpoint-down(sm) {
		display: none;
	}
}

.contact-leaves {
	position: absolute;
	top: 10rem;
	left: 28%;
	z-index: -1;
}