
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/
#subscribe-form {
    .input-group-append {
        margin-left: -2rem;
    }

    button {
        letter-spacing: 0.1rem;
        background-image: linear-gradient(360deg, #730213, transparent);
    }
}
