
/* ----------------------------------------------------------------

	header.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for header. Thanks!
-----------------------------------------------------------------*/


#header {
	position: relative;	

	// Transparent header
	&.transparent-header {
		background-color: #857db8;
		z-index: 199;

		@include media-breakpoint-up(lg) {
			background-color: transparent;

			& + #content,
			& + #contact-info,
			& + #error-404 {
				position: relative;
				top: -$header-height;
				margin-bottom: -$header-height;
			}
		}			
	}
}

/* ----------------------------------------------------------------
	Sticky Header
-----------------------------------------------------------------*/

#header-wrap {
	@include media-breakpoint-down(lg) {
		padding-left: 2.8125rem;
		padding-right: 2.8125rem;
	}
}


/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/

.navbar-brand {
	position: absolute;
	top: 2rem;
	left: 45.5%;

	img {
		width: 9rem;
		height: auto;
		margin-top: -1rem;
	}

	@include media-breakpoint-down(lg) {
		position: relative;
		top: 0;
		left: 0;
	}
}

.navbar {
	padding: 1.5rem 0;
}


/* ----------------------------------------------------------------
	Primary Menu
-----------------------------------------------------------------*/

#primary-menu {
	.nav-link {
		color: $primary-menu-font-color;
		font-family: $body-font;
		font-size: $primary-menu-font-size;
		font-weight: $primary-menu-font-weight;		
		letter-spacing: $primary-menu-font-spacing;
		text-transform: $primary-menu-font-tt;
	}

	.nav-item {
		&:hover {
			a {
				color: $theme-color;
			}
		}
	}

	@include media-breakpoint-down(lg) {
		margin-left: 0;
	}
}


/* ----------------------------------------------------------------
	Mega Menu
-----------------------------------------------------------------*/

// Please ignore mega menu now 


/* ----------------------------------------------------------------
	Top Buttons
-----------------------------------------------------------------*/


#top-btns {	
	input {
		width: 11rem;
	}

	.nav-link {
		color: #b0b0b0;		
		font-size: 1.25rem;	
		line-height: 1;

		&:hover {
			color: $primary;
		}
	}
}


/* ----------------------------------------------------------------
	Top Links
-----------------------------------------------------------------*/

#top-links {
	margin-right: -15rem;

	.nav-item {			

		@include media-breakpoint-up(lg) {
			padding: 1.125rem;
		}
	}

	a.nav-link {
		color: $topbar-color;
		display: block;
		font-size: 0.875rem;
		font-family: $body-font;	

		@include media-breakpoint-up(lg) {
			padding: 0;	
		}
		

		&:hover {
			color: $topbar-hover-color;
		}
	}

	.dropdown-toggle {
		&::after {
			margin-left: .75em;
		}
	}

	.dropdown-menu {
		background: $white;
		border: 0;
		top: $topbar-line-height;
		left: 0;
		width: 100%;		
		margin: 0;
		border-top: 3px solid $theme-color;

		@include border-radius(0);

		@include box-shadow(0 0 5px -1px rgba($black, 0.2));
		
		@include media-breakpoint-up(lg) {
			width: 8.75rem;
		}

		a.dropdown-item {
			color: $headings-color;
			height: 2.25rem;
			line-height: 2.25rem;
			font-size: 0.75rem;				
			padding: 0 0.75rem;

			&:hover {
				color: $theme-color;
			}
		}

		img {
			display: inline-block;
			position: relative;
			top: -1px;
			width: 1rem;
			height: 1rem;
			margin-right: 0.25rem;
		}
	}
}


/* ----------------------------------------------------------------
	Top Infos
-----------------------------------------------------------------*/

#top-infos {
	.phone {
		font-family: $body-font;
		font-size: 1rem;
		color: $white;

		&:after {
			position: relative;
			display: inline-block;
			content: "";
			width: 21rem;
			height: 1px;
			vertical-align: middle;
			background-color: $white;
			margin-left: 1rem;

			@include media-breakpoint-down(lg) {
				display: none;
			}
		}
	}
}


/* ----------------------------------------------------------------
	Top Social
-----------------------------------------------------------------*/

#top-social,
#top-social ul { margin: 0; }

#top-social {
	ul {
		display: flex;
		align-items: center;

		&:before {
			position: relative;
			display: inline-block;
			content: "";
			width: 21rem;
			height: 1px;
			vertical-align: middle;
			background-color: $white;
			margin-right: 1rem;
		}

		@include media-breakpoint-down(lg) {
			justify-content: center;
			
			&:before {
				display: none;
			}
		}
	}

	li {
		padding: 0 0.25rem;

		a {
			color: $white;
			display: inline-block;
			line-height: 1.8125rem;
			width: 1.25rem;
			font-size: 1.25rem;	
			vertical-align: middle;
			text-align: center;

			&:hover {
				color: $theme-color;
			}

			i {
				vertical-align: top;
				line-height: 1.8125rem;
			}
		}
	}
}


/* ----------------------------------------------------------------
	Top Login
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------
	Top Search
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Top Cart
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Top Account
-----------------------------------------------------------------*/






