
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/

#page-title {
	.title {
		font-weight: 400;
		font-size: 10rem;
		line-height: 1;
		letter-spacing: 0.5rem;

		@include media-breakpoint-down(sm) {
			font-size: 8rem;
		}
 	}
}