
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/

#page-title {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;

	.title {
		font-weight: 400;
		font-size: 10rem;
		line-height: 1;
		letter-spacing: 0.5rem;

		@include media-breakpoint-down(sm) {
			font-size: 8rem;
		}
 	}
}