.logos {
	display: flex;
	justify-content: space-between;
	
	.logo-item {
		max-width: 12.625rem;
		height: 10.25rem;
		width: 100%;
		display: flex !important;
		margin: auto;

		img {
			width: auto;
			height: auto;
		}
	}
} 