/*-----------------------------------------------------------------------------------

	Shortcodes: timeline.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Timeline Styles
-----------------------------------------------------------------*/


.event-thumbnail {
    margin-bottom: 1.5rem;

    img {
        width: 100%;    
        border-radius: 0.5rem;
    }
}

.event-date {
    font-family: $heading-font;
    color: $white;
    font-size: 6.25rem;                     
}   

.event-detail {
    border-bottom: 1px solid grey;
}